<pluginMetaData path="xsltstep">
	<name>XSLT Transformer Step</name>
	<author>NextGen Healthcare</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>@mirthversion</mirthVersion>
	<url>https://openintegrationengine.org</url>
	<description>This plugin provides a XSLT support step-type for Open Integration Engine transformers</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.xsltstep.XsltStepPlugin</string>
	</clientClasses>
	<library type="CLIENT" path="xsltstep-client.jar" />
	<library type="SHARED" path="xsltstep-shared.jar" />
</pluginMetaData>
