<pluginMetaData path="mapper">
	<name>Mapper Transformer Step</name>
	<author>NextGen Healthcare</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>@mirthversion</mirthVersion>
	<url>https://openintegrationengine.org</url>
	<description>This plugin provides a Mapping step type for Open Integration Engine transformers</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.mapper.MapperStepPlugin</string>
	</clientClasses>
	<library type="CLIENT" path="mapper-client.jar" />
	<library type="SHARED" path="mapper-shared.jar" />
</pluginMetaData>
