<pluginMetaData path="scriptfilestep">
	<name>External Script Transformer Step</name>
	<author>NextGen Healthcare</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>@mirthversion</mirthVersion>
	<url>https://openintegrationengine.org</url>
	<description>This plugin provides an External Script step-type for Open Integration Engine transformers</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.scriptfilestep.ExternalScriptStepPlugin</string>
	</clientClasses>
	<library type="CLIENT" path="scriptfilestep-client.jar" />
	<library type="SHARED" path="scriptfilestep-shared.jar" />
</pluginMetaData>
